* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}
button {
    outline: none;
    border: transparent;
}
input,
button {
    font-family: inherit;
    font-size: inherit;
}
/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn {
    --height: 58px;

    display: inline-block;
    padding: 0 28px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 8px;
    background: #212832;

    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}
.btn:hover {
    opacity: 0.8;
}
.section-heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}
.section-desc {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}
/* ===== Header ===== */
.header {
    padding-bottom: 8px;
    padding-top: 42px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left {
    display: flex;
}
.header-logo {
    display: flex;
    align-items: center;
    column-gap: 7px;
}
.header-logo__text {
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}
.navbar {
    margin-left: 70px;
}

.navbar__list {
    display: flex;
}
.navbar-item {
    padding: 4px 24px;
}
.navbar-item__link {
    position: relative;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}
.navbar-item__active .navbar-item__link {
    color: #212832;
    text-shadow: 0 0 0.5px currentColor;
}
.navbar-item:hover .navbar-item__link {
    color: #212832;
    text-shadow: 0 0 0.5px currentColor;
}
.navbar-item__active::after {
    content: "";
    display: block;
    position: absolute;
    width: 48px;
    height: 1px;
    border-radius: 0.05rem;
    background: #7264d6;
}
.header-btn__login {
    padding: 4px 28px;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

/* ===== Hero ===== */
.hero {
    padding-top: 68px;
    padding-bottom: 80px;
}
.hero__inner {
    display: flex;
    align-items: center;
}
.hero__info {
    width: 46%;
    margin-right: 160px;
}

.section-label {
    display: inline-flex;
    align-items: center;
    color: #696d77;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.section-label::before {
    margin-right: 12px;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
}
.hero__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16; /* 116.667% */
}
.hero__heading strong {
    color: #7264d6;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
}
.hero__desc {
    margin-top: 20px;
}
.hero-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 74px;
    margin-top: 40px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}
.hero-form__input {
    padding: 24px;
    width: 100%;
    outline: none;
    border: none;
}

.hero-form__input::placeholder {
    color: #696d76;
    line-height: 1.75; /* 175% */
}
.hero-form__btn-summit {
    margin-right: 8px;
    min-width: 150px;
    border-radius: 8px;
    background: #7264d6;
    cursor: pointer;
}
.hero-info__note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71; /* 171.429% */
}
.hero__media {
    position: relative;
}
.hero-media__thumb {
    width: 296px;
    height: 562px;
    object-fit: cover;
    display: block;
}
.media-deposite {
    display: flex;
    align-items: center;
    position: absolute;
    top: 113px;
    left: -100px;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}
.media-deposite__icon {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.media-deposite__text {
    margin-left: 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.media-deposite__price {
    margin-left: 20px;
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 1; /* 100% */
}

.media-interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 127px;
    right: -174px;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
}

.media-interest__price {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}
.media-interest__text {
    color: #fff;
    font-weight: 400;
}
.media-security {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -74px;
    bottom: 61px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
}
.media-security__icon {
    width: 20px;
    height: 26px;
    object-fit: cover;
}
.security-info {
    margin-left: 11px;
}
.media-security__price {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.media-security__text {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1; /* 100% */
}

/* ===== How to work =====*/
.guide {
    padding: 80px 0;
}
.guide__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.guide-media {
    position: relative;
    width: 456px;
    height: 619px;
}

.guide-media::before {
    position: absolute;
    content: url(../img/background-img.svg);
    display: inline-block;
    width: 470px;
    height: 550px;
    bottom: -4px;
    left: -7px;
    z-index: 0;
}

.guide-media__thumb {
    position: relative;
    width: 456px;
    height: 619px;
    object-fit: cover;
    z-index: 1;
}
.media--icon-card {
    position: absolute;
    top: 76px;
    right: 55px;
}

.guide-congratulations {
    display: flex;
    align-items: center;
    position: absolute;

    bottom: 96px;
    right: -100px;
    column-gap: 10px;
    padding: 15px;
    width: 226px;
    height: 70px;
    z-index: 1;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}
.guide-congratulations__icon,
.guide-congratulations__icon-check {
    display: flex;
    align-items: center;
    justify-content: center;
}

.guide-congratulations__icon {
    width: 40px;
    height: 40px;
    background: #4ab5e3;
    border-radius: 4px;
}

.guide-congratulations__icon-check {
    width: 20px;
    height: 20px;
    border-radius: 2rem;
    background: #fff;
}

.guide-congratulations__heading {
    color: #212832;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}
.guide-congratulations__desc {
    margin-top: 5px;
    color: #696d76;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}
.guide-info {
    margin-left: 130px;
}
.guide-info__heading {
    margin-top: 12px;
}

.guide-info__list {
    margin-top: 70px;
}
.guide-item {
    max-width: 470px;
}

.guide-item__heading {
    margin-top: 30px;
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45; /* 145.455% */
}
.guide-item__desc {
    margin-top: 16px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

/* ===== Feature ===== */
.feature {
    padding: 80px 0;
}
.feature-media,
.feature-info {
    padding: 80px 0;
}
.feature-media {
    position: relative;
}
.feature__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 130px;
}
.feature-info {
    max-width: 470px;
}
.feature-info__heading {
    width: 470px;
    margin-top: 12px;
}
.feature-info__desc {
    margin-top: 20px;
}

.feature-list {
    margin: 28px 0 38px;
}
.feature-item {
    position: relative;
    margin-top: 18px;
}
.feature-item__text {
    margin-left: 24px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}
.feature-item__text::before {
    position: absolute;
    top: 8px;
    left: 0;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.feature__btn {
    min-width: 150px;
}

.feature-media__card {
    position: relative;
    width: 482px;
    max-height: 322px;
    padding: 38px;
    border-radius: 2rem;
    background: #8476e3;
    overflow: hidden;
    z-index: 1;
}
.feature-media__card::after {
    position: absolute;
    top: -35px;
    left: 0;
    content: url(../icon/Mask\ Group.svg);
    z-index: -1;
}
.feature-card__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature-card__type {
    color: #fff;
    font-size: 2.4rem;
}
.feature-card__price {
    margin-top: 10px;
    color: #fff;
    font-size: 3.2rem;
    font-weight: 700;
}

.feature-card__row-bottom {
    margin-top: 98px;
    display: flex;
    column-gap: 26px;
}
.card-left__text,
.card-right__type {
    color: #fff;
    font-size: 2rem;
}
.card-left__day,
.card-right__name {
    margin-top: 4px;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
}
.card-right__name {
    margin-top: 0;
    margin-bottom: 4px;
}
.feature-send {
    display: flex;
    position: absolute;
    top: 38px;
    right: -52px;
    padding: 24px 12px;
    width: 276px;
    height: 86px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    z-index: 3;
}
.feature-send__img {
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 0.8rem;
    background: rgba(218, 100, 100, 0.1);
    box-shadow: -4px -2px 16px 0px #fff,
        4px 2px 16px 0px rgba(136, 165, 191, 0.48);
}
.feature-send__heading {
    color: #212832;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}
.feature-send__desc {
    margin-top: 4px;
    color: #696d76;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}
.feature-send__noti {
    margin-left: auto;
}
.feature-send__price {
    color: #212832;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
}
.feature-send__price,
.feature-send__day {
    text-align: right;
}
.feature-send__day {
    margin-top: 4px;
    color: #696d76;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}
.feature-save {
    width: 120px;
    height: 120px;
    padding: 14px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 16px;
    background: #439f90;
    z-index: 1;
}
.feature-save__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #fff;
}
.feature-save__text {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
}
.feature-save__price {
    margin-top: 6px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 1.8rem;
    font-weight: 600;
}
.feature-media__bottom-thumb {
    display: block;
    margin: 0 auto;
    width: 413px;
    object-fit: cover;
}
.feature-media__bottom-img {
    position: relative;
    background-position: bottom;
    background-image: url(../img/background-img_2.svg);
    background-repeat: no-repeat;
}
.feature-method {
    position: absolute;
    bottom: 58px;
    right: -74px;
    width: 281px;
    height: 220px;
    padding: 28px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);
}
.feature-method__text {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}
.feature-method__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}
.feature-method__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #f2f2fa;
}
.feature-method__item:last-child {
    background: #f9ea63;
}
.feature-media__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 222px;
    right: -100px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #7264d6;
}
.feature-info__bottom {
    margin-left: 100px;
}
/* ==== testimonial ===== */
.testimonial {
    padding: 80px;
}
.testimonial-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonial-heading {
    margin: 12px 0 18px;
}

.testimonial-desc {
    width: 435px;
    font-size: 1.6rem;
    text-align: center;
}
.testimonial-inner {
    margin-top: 70px;
}
.testimonial-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}
.testimonial-item__quote {
    position: relative;
    padding: 42px 28px;

    color: #696d76;
    font-family: "Open Sans";
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.54; /* 154.545% */
    text-align: center;
    background: #fff;
    box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    border: 1px solid #dfe2e8;
}
.testimonial-item__quote::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: -53px;
    background: #fff;
    z-index: 0;
    border: 1px solid #dfe2e8;
    border-color: transparent #dfe2e8 #dfe2e8 transparent;
    height: 60px;
    width: 60px;
    rotate: 45deg;
}
.testimonial-item__quote:hover,
.testimonial-item__quote:hover::after {
    background: #fff;
    box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.07);
    border-color: transparent;
}
.testimonial-item__fig {
    margin-top: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonial-item__avatar {
    width: 104px;
    height: 104px;
    object-fit: cover;
    border-radius: 50%;
}
.testimonial-item__name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}
.testimonial-item__role {
    margin-top: 2px;
    color: #696d76;
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
}
.testimonial-action {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    margin-top: 38px;
}
.action-arrow {
    width: 22px;
    height: 6px;
    border-radius: 0.1rem;
    border: 1px solid #9b9fab;
    cursor: pointer;
}
.action-active {
    border-radius: 0.1rem;
    border-color: transparent;
    background: #7264d6;
}
/* ===== Blog ===== */
.blog {
    padding: 80px 0;
}
.blog-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog__heading {
    margin-top: 6px;
}
.blog__desc {
    margin-top: 18px;
    width: 435px;
    font-size: 1.6rem;
    line-height: 1.75;
}
.blog-cta__btn {
    min-width: 123px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}
.blog__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.blog-item {
    display: flex;

    padding: 28px 28px;
    border-radius: 12px;
    border-radius: 1.2rem;
    border: 1px solid #dfe2e8;
}
.blog-item:hover {
    background: #fff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    border-color: transparent;
    cursor: pointer;
}
.blog-item__thumb {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}

.blog-item__info {
    padding: 10px 0;
    margin-left: 22px;
}

.blog-item__day {
    color: #696d76;
    font-size: 1.4rem;
    line-height: 1.71; /* 171.429% */
}

.blog-item__heading {
    margin-top: 10px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}
.blog-item__more {
    margin-top: 20px;
    display: block;
    color: #696d76;
    line-height: 1.62; /* 162.5% */
}
.blog-item__more:hover {
    color: #7264d6;
}

/* ===== App ===== */
.app {
    padding: 80px 0;
}
.app-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding: 100px 0;
    border-radius: 24px;
    background: #7264d6;
}

.app-label {
    color: #fff;
    line-height: 1.75; /* 175% */
}
.app-label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #fff;
}
.app-heading {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}
.app-desc {
    margin-top: 18px;
    width: 435px;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.75; /* 175% */
}
.app-download {
    margin-top: 38px;
    display: flex;
    column-gap: 16px;
}

.app-deco__item:first-child .app-deco__img {
    position: absolute;
    left: 112px;
    top: 50px;
}
.app-deco__item:nth-child(2) .app-deco__img {
    position: absolute;
    right: 112px;
    top: 50px;
}
.app-deco__item:nth-child(3) .app-deco__img {
    position: absolute;
    left: 166px;
    bottom: 50px;
}
.app-deco__item:last-child .app-deco__img {
    position: absolute;
    right: 166px;
    bottom: 50px;
}
/* ===== footer ===== */
.footer {
    margin-top: 20px;
    padding-top: 100px;
}
.footer-inner {
    display: grid;
    grid-template-columns: 1.6fr 1fr 1fr 2fr;
    align-items: flex-start;
}
.footer-title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}
.footer-sitemap__list,
.footer-social__list {
    margin-top: 24px;
}

.sitemap-item__link,
.social-item__link {
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
    opacity: 0.75;
    transition: opacity ease 0.4s;
}

.sitemap-item__link:hover,
.social-item__link:hover {
    opacity: 1;
    color: #7264d6;
}
.footer-news {
    margin-top: 12px;
}
.footer-info__add {
    margin-top: 24px;
    width: 371px;
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
    opacity: 0.75;
}

.footer-info__email,
.footer-info__phone {
    margin-top: 12px;
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
    text-decoration-line: underline;
}
.footer-form {
    display: flex;
    margin-top: 36px;
}
.footer-form__input {
    min-width: 270px;
    height: 52px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #8e919a;
}
.footer-form__input::placeholder {
    color: #8e919a;
    line-height: 1.75; /* 175% */
}

.footer-form__btn {
    --height: 52px;
    margin-left: 20px;
    min-width: 113px;
    border-radius: 6px;
    background: #7264d6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    padding: 28px 0;
    background: #7264d6;
}
.copyright__text {
    color: #fff;
    line-height: 1.75; /* 175% */
}
